
body {
    background-image: url("C:/Users/flavioPC/Desktop/AulaHTML/AulaHTML5CSS3/Imagens/background.jpeg");
    background-attachment: fixed;
    background-position: 6cm;
    margin-left: 400px;
    
}

header{
    margin-top: 70px;

}

li{
    color: red;
    font-size: 20px

}

h1{
    color: black;
    font-family: fantasy;
    font-size: 40px;

}
h2{
    color: crimson;
    font-family: 'Times New Roman';
    font-size: 30px;
}
p{
    font-size: 18px;
    color: darkblue;
    font-size: 20px;

}

.logo{
    margin-bottom: 10px;
    width: 40px;

}

.img_visualizacao{
    margin-bottom: 30px;
    width: 200px;
}
